
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <%include ./partials/navbar %>
    <div class="container">
      <%- body -%>
    </div>
    <%include ./partials/footer %>
  </body>
</html>
